@model Stocky.ViewModels.ProductFormViewModel
@{
    ViewBag.Title = "New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@using (@Html.BeginForm("Save", "Products"))
{
    @Html.ValidationSummary(true, "Please fix errors before saving")

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sku)
        @Html.TextBoxFor(m => m.Sku, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Sku)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Categories)
        @Html.ListBoxFor(m => m.CategoryIds, new MultiSelectList(Model.Categories, "Id", "Name"), new { @class = "form-control" });
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.Price)
    </div>
    @Html.HiddenFor(p => p.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}




