@model Stocky.ViewModels.ProductFormViewModel
@{
    ViewBag.Title = "New Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model.Product == null)
{
    <h1>Add Product</h1>
}
else
{
    <h1>Edit Product</h1>
}


@using (@Html.BeginForm("Save", "Products"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Name)
        @Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Sku)
        @Html.TextBoxFor(m => m.Product.Sku, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Category)
        @Html.DropDownListFor(m => m.Product.CategoryId, new SelectList(Model.Categories, "Id", "Name"), "Select Category", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Description)
        @Html.TextAreaFor(m => m.Product.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Price)
        @Html.TextBoxFor(m => m.Product.Price, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(p => p.Product.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

